.project
.settings
.classpath
.factorypath
/target/
target/*
target
.idea
/log
/logs
*.log
services.iml
services.ipr
services.iws
.shelf
.idea
/.idea/*
.idea/*
vc-oms-services.iml
vc-oms-services.ipr
vc-oms-services.iws
*.iml
*.ipr
*.iws