<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC
    "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleName</key>
    <string>VectorTrade</string>
    <key>CFBundleDisplayName</key>
    <string>VectorTrade</string>

    <key>CFBundleIdentifier</key>
    <string>cl.vc.blotter.MainApp</string>

    <key>CFBundleVersion</key>
    <string>VectorTrade</string>
    <key>CFBundleShortVersionString</key>
    <string>VectorTrade</string>

    <key>CFBundleExecutable</key>
    <string>VectorTrade</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleIconFile</key>
    <string>AppIcon</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>Java</key>
    <true/>
    <key>JavaApplicationStub</key>
    <string>JavaAppLauncher</string>

</dict>
</plist>
