<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{1}] - %msg%n</pattern>
            </pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>E:\VC-github\vector-trade-service\logs\service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:\VC-github\vector-trade-service\logs\service.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{1}] - %msg%n</pattern>
            </pattern>
        </encoder>
    </appender>

    <!-- Silencia solo el warning de cookies de HttpClient -->
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>

    <logger name="cl.vc" level="INFO" additivity="false">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>
